.git
.gitignore
.dockerignore
.byebug_history

Dockerfile*
docker-compose*
Procfile.dev
README.md

/log/*
/tmp/*
/public/uploads
/public/cache

/public/system
/public/assets
/public/stylesheets
/public/javascripts
/node_modules/
